torch==2.2.0
numpy==1.26.4
pandas==2.1.4
scikit-learn==1.4.0
matplotlib==3.8.2
tqdm==4.66.1
jupyter==1.0.0
onnx==1.15.0
onnxruntime==1.17.0
fastapi==0.110.0
uvicorn==0.27.1
pyngrok==7.1.5
pydantic==2.6.1
